flows (1).json
[
    {
        "id": "aa16134a7e459d37",
        "type": "tab",
        "label": "온습도센서_config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cddfbde14dbe5c4",
        "type": "tab",
        "label": "온습도센서_db",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f241da8bcdfc8fb",
        "type": "tab",
        "label": "관수",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2bf00acfce54ad99",
        "type": "tab",
        "label": "자동개폐기",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd050a4798339e42",
        "type": "tab",
        "label": "개별스위치",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d405567ed36d09c",
        "type": "tab",
        "label": "setting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efbd785e18f8ca32",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d8fc3fd7f51faccf",
            "3215e56a6442c43f",
            "df38ac7beefeaec1",
            "71f3fffa0dddecfa",
            "6995ae8ebce60595",
            "6d9403fd9d7b2149",
            "302113622157b0d7",
            "9ab72005664a99ee"
        ],
        "x": 44,
        "y": 59,
        "w": 352,
        "h": 222
    },
    {
        "id": "807e16f339f6c4c5",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "급수요일",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c8e55e6136d697ea",
            "84d6652e48d7e712",
            "4bc9808a45961b98",
            "cc693c8dc84b7b87",
            "d66bc7250e4a7775",
            "6c57a72ba0c05580",
            "989123b30187cfc2"
        ],
        "x": 434,
        "y": 59,
        "w": 152,
        "h": 322
    },
    {
        "id": "2509d8977ef14784",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ea484b7667f2d024",
            "1c3ea07929609dea",
            "1819bf1cf54a9cb7",
            "d19d17368abb0c1f",
            "464d6102dd6fb3f0"
        ],
        "x": 54,
        "y": 399,
        "w": 172,
        "h": 242
    },
    {
        "id": "3798660cc230601c",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "급수선택",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8f55a88c9e31e976",
            "b4e13f4a39722611",
            "f1c17a4d4ed075c1",
            "ddbbccad81ec2ae4",
            "b76fcc4195f1e4d4",
            "bbbeef8a81508360"
        ],
        "x": 254,
        "y": 399,
        "w": 152,
        "h": 282
    },
    {
        "id": "d2fcd03bdbdc641e",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 1번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5ada8602bf1aeb33",
            "28f33525bb81ec7b",
            "4fcf4ed59abdcb9a",
            "b27058f56e897962"
        ],
        "x": 594,
        "y": 439,
        "w": 152,
        "h": 202
    },
    {
        "id": "6afd11a0e748761f",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 2번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "467fa8b1cf3181aa",
            "813ac6acc91fec49",
            "87ab57496a2c291f",
            "087c5e7d745bdf88"
        ],
        "x": 594,
        "y": 659,
        "w": 152,
        "h": 202
    },
    {
        "id": "adbd5d147578321f",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 3번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "005b0b0e2f1343c6",
            "4a49a0bae149061e",
            "34091173638402de",
            "02139310a9109faa"
        ],
        "x": 594,
        "y": 879,
        "w": 152,
        "h": 202
    },
    {
        "id": "60c6c742053a4a75",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 4번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f8098cc1afb8ecc0",
            "85231f4b02af4dd5",
            "12f64a9e1f95f349",
            "49baa434ed95d7d4"
        ],
        "x": 594,
        "y": 1099,
        "w": 152,
        "h": 202
    },
    {
        "id": "e9332d4f2e443677",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 5번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ca072411d3f23ff3",
            "950105923204fd1a",
            "228049ac889f73c0",
            "774ee115bdf0a281"
        ],
        "x": 594,
        "y": 1319,
        "w": 152,
        "h": 202
    },
    {
        "id": "ccc43ee0c889a4e5",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "관수 6번",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4fdde22c14dd1c1f",
            "fc1efb8d26819dc6",
            "8bd5676d486655b0",
            "495b6c19a9e3d13b"
        ],
        "x": 594,
        "y": 1539,
        "w": 152,
        "h": 202
    },
    {
        "id": "976ef3a61e3706ea",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "급수시간",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cf20904b7d356f94",
            "bc094cb0c2b87a9b",
            "af2d4160805d39da",
            "fd1a3380a16375d3",
            "364198c3f77a7229",
            "56d7e79fdd51c59a"
        ],
        "x": 1394,
        "y": 399,
        "w": 172,
        "h": 282
    },
    {
        "id": "cf005d4180aedcbc",
        "type": "group",
        "z": "5f241da8bcdfc8fb",
        "name": "공급시간",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "033dbee0664f12ca",
            "de5f2a25971073ea",
            "5f591ecd88c8bef1",
            "4ebb25fb98a3bfec",
            "c2b575cb4d2be474",
            "7d5f6e61b98ee38d"
        ],
        "x": 1394,
        "y": 699,
        "w": 172,
        "h": 282
    },
    {
        "id": "115715fb6f05b88b",
        "type": "group",
        "z": "1d405567ed36d09c",
        "name": "setting",
        "style": {
            "label": true
        },
        "nodes": [
            "6ec9c7301546a00b",
            "d783f2a41cc57d29",
            "4b696428718c90d5",
            "b4cff9fb7bd42591",
            "0fba7d381ede2bd8",
            "dc130e12dde43485",
            "b7ea1397563cd4ba",
            "0b9069d3a5dc6e7d",
            "221247fd8a86ef61",
            "047ee56c9f8a6e3d",
            "92df88d877be7617",
            "551aeb0c66ed6123",
            "7af11e1317fb070e",
            "f0b2d9ca98758ee5",
            "0ab0cdf92999057f",
            "27afeab66ecb4d19",
            "9adab606e0670d3e",
            "7b1533d7192617db",
            "54c4aa3500f2ba0f",
            "d321c8d91d46cefd",
            "b74ad7d106942e41",
            "0ea762df80f51c56",
            "1468982b6ae03af1",
            "0dce0f6e32052176",
            "b3419bb28ee196c2",
            "99e9a29e5479146d",
            "6cf064edcab888b3",
            "751562cf2eea881e",
            "13067e845bbc5618",
            "b456b1641b3a2cc4",
            "729e5d3f4845b604",
            "1ef3fda544617a97",
            "e34eee61d4092444",
            "063f0ba93d607441",
            "b7d22841bdbfb216",
            "26547f2d1aabdf24",
            "feca03ac940c1a3e",
            "580a8c3c5397d1bf",
            "8c2385424ea7a9f6",
            "0df879f223058410",
            "518c757bb7990d2f",
            "c82915f1b7d06192",
            "4616ea3123356d66",
            "8ebc92cba8e6f59b",
            "a6bfd58db299dcf7",
            "da9c43d732e07a1d",
            "5a0475e63f447ca6",
            "3e3cb33694e35fcc",
            "40fed23677dc9087",
            "c5d0a2079107e2bb",
            "8b91e31d810e2f26",
            "7351cdea385ca050"
        ],
        "x": 134,
        "y": 279,
        "w": 1312,
        "h": 482
    },
    {
        "id": "292aa91d1a8cef54",
        "type": "group",
        "z": "1d405567ed36d09c",
        "name": "목록(setting)",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "39128f8ace36a959",
            "6500a5089cc839cd",
            "b93f8f9aa7d3b78a",
            "a1a76c1ab8e25b59",
            "c924e490bd067710",
            "6e55c31be4d91dd1",
            "f34f57157c996c2d",
            "130a67c028e889a5"
        ],
        "x": 134,
        "y": 19,
        "w": 332,
        "h": 242
    },
    {
        "id": "98d3741c08bcba1e",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "name": "목록(자동개폐기)",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "55d295438d882350",
            "c5238d732c52e0b7",
            "48cace10cba144ed",
            "21d0b35346f7c601",
            "6ad57d7a4f6980d3",
            "9447999031acd531",
            "2ee7cdfc71279e98",
            "76bc435962df93fd"
        ],
        "x": 124,
        "y": 39,
        "w": 342,
        "h": 222
    },
    {
        "id": "99a6cdafc4188e97",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "name": "현재시각 표시",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bdb77e64b718f134",
            "ba83c0affb998080",
            "7e4c43fd536a2268"
        ],
        "x": 124,
        "y": 299,
        "w": 522,
        "h": 82
    },
    {
        "id": "1d40b670db12a4bf",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "name": "천장(우)",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cd84511cb579225d",
            "a545fcc1e4c2a4bd",
            "3d67642ca3bce3d1",
            "51df92b53962cda2",
            "e014eef027a214e1",
            "b8cfb323f0c12eee",
            "510d3b7eef159e63"
        ],
        "x": 674,
        "y": 659,
        "w": 552,
        "h": 242
    },
    {
        "id": "3b6fc36a68319840",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "name": "천장-(A)",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "febac0ff77c03379",
            "3bd63f1dccb13713",
            "58ceb84636ec474a",
            "ae7423fd79ae017d",
            "c1f471482da49ed1",
            "163829bdc6e39320",
            "9d57621738361b81"
        ],
        "x": 134,
        "y": 659,
        "w": 512,
        "h": 242
    },
    {
        "id": "922ea26fe2ae54ab",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4d193542eabdcc40",
            "e56e24fe62f0ab0b",
            "9a38ac3fa7401fd6",
            "5a685d3364f5137e"
        ],
        "x": 674,
        "y": 299,
        "w": 612,
        "h": 82
    },
    {
        "id": "4adbe1ee7c8ef3dc",
        "type": "group",
        "z": "2bf00acfce54ad99",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "edd4f3102fcdb40b",
            "7512b95d88833b24",
            "c91522a66838eee1",
            "b0b1b9da1375262d",
            "8b741c216fe7983e",
            "3fe7c6fce7e9d092",
            "eb60397ecaa5719b",
            "88707db791accb26",
            "25dd80949faa62aa",
            "e698ae724c1d1778",
            "9925741c616b8027",
            "e40f2960200158aa"
        ],
        "x": 134,
        "y": 419,
        "w": 572,
        "h": 202
    },
    {
        "id": "8a2228b1e2645e65",
        "type": "group",
        "z": "fd050a4798339e42",
        "name": "목록(개별스위치)",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8794a54dae6e5175",
            "2d8eab8198d604b8",
            "7da5b23352107de6",
            "f34dc3ef4b9efd7c",
            "434bbf01d5ac1c31",
            "2fac110d59a206d2",
            "45881394b38ae22d",
            "e1f9b77fa851fdbf"
        ],
        "x": 154,
        "y": 59,
        "w": 352,
        "h": 202
    },
    {
        "id": "5ac4f52b3eb9426b",
        "type": "ui_group",
        "name": "온습도",
        "tab": "bbe04a708085c504",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9674f597e501b55",
        "type": "sqlitedb",
        "db": "C:\\Users\\user\\Documents\\한국외대\\현장실습\\유비샘\\ubifarm\\test.db",
        "mode": "RWC"
    },
    {
        "id": "bbe04a708085c504",
        "type": "ui_tab",
        "name": "온습도(config)",
        "icon": "dashboard",
        "order": 6,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "3420c38dc05e3f5a",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "55910fe31ce3e384",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a215d8bde652888",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "55910fe31ce3e384",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc345fac2fbaa801",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "55910fe31ce3e384",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "164f12788eff73a4",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "56d7357ff61d7e43",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "95decc34b9ae0014",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "7a898278a26fa43e",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "e98833cdad2f08e2",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "383ce7e4a8baf294",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "959f63ca1b7587a0",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "df2d8e4d7103a9a7",
        "type": "ui_spacer",
        "z": "4cddfbde14dbe5c4",
        "name": "spacer",
        "group": "39454e36240a9a0e",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "bffcb02462b36f76",
        "type": "ui_group",
        "name": "센서1",
        "tab": "ddd9ea36f8f41724",
        "order": 1,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "545463a31753566b",
        "type": "ui_group",
        "name": "센서2",
        "tab": "ddd9ea36f8f41724",
        "order": 2,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ef9eb2e19c78de5",
        "type": "ui_group",
        "name": "센서4",
        "tab": "ddd9ea36f8f41724",
        "order": 4,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b70977fbad2fd6b",
        "type": "sqlitedb",
        "db": "C:\\Users\\user\\Documents\\한국외대\\현장실습\\유비샘\\ubifarm\\test.db",
        "mode": "RWC"
    },
    {
        "id": "f95961c82fad7173",
        "type": "ui_group",
        "name": "센서5",
        "tab": "ddd9ea36f8f41724",
        "order": 5,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3774b6d926f80857",
        "type": "ui_group",
        "name": "센서6",
        "tab": "ddd9ea36f8f41724",
        "order": 6,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "555bdf0c109bb5a3",
        "type": "ui_group",
        "name": "센서7",
        "tab": "ddd9ea36f8f41724",
        "order": 7,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98bf4a0b1f90beda",
        "type": "ui_group",
        "name": "센서 8",
        "tab": "ddd9ea36f8f41724",
        "order": 8,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55910fe31ce3e384",
        "type": "ui_group",
        "name": "센서3",
        "tab": "ddd9ea36f8f41724",
        "order": 3,
        "disp": false,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56d7357ff61d7e43",
        "type": "ui_group",
        "name": "자동개폐기",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "39454e36240a9a0e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ddd9ea36f8f41724",
        "type": "ui_tab",
        "name": "자동개폐기(동)",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9ad75bc27af9684",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b49fe7be75cf2e0",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1920c1130ddc7187",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d9a13c48fce6a29",
        "type": "ui_group",
        "name": "UbiFarm",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5be332b29288ce22",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "76d4b4322280d5f0",
        "order": 3,
        "width": "1",
        "height": "1"
    },
    {
        "id": "0c372861fd77801c",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "a0c7e9d3469dd130",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "652e495219207196",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "5221b3bc4647bd69",
        "order": 14,
        "width": "6",
        "height": "1"
    },
    {
        "id": "185438f50a7a656b",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "e751117cd4c76378",
        "order": 11,
        "width": "3",
        "height": "1"
    },
    {
        "id": "0609470e1c7721f2",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "e751117cd4c76378",
        "order": 15,
        "width": "3",
        "height": "1"
    },
    {
        "id": "2912372b19183f36",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "84bc1c6d689d781a",
        "order": 9,
        "width": "8",
        "height": "1"
    },
    {
        "id": "a86c673ee91d71df",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "e751117cd4c76378",
        "order": 5,
        "width": "7",
        "height": "1"
    },
    {
        "id": "0f847d5eb1135d93",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "66029420da2b4fcb",
        "order": 5,
        "width": "6",
        "height": "1"
    },
    {
        "id": "8efb93dd240c9ec6",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "e8d56aa3910982da",
        "order": 5,
        "width": "3",
        "height": "1"
    },
    {
        "id": "0992b4942b38776c",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "84bc1c6d689d781a",
        "order": 5,
        "width": "4",
        "height": "1"
    },
    {
        "id": "fa9e1ddc3f9c8858",
        "type": "ui_spacer",
        "z": "5f241da8bcdfc8fb",
        "name": "spacer",
        "group": "e8d56aa3910982da",
        "order": 18,
        "width": "3",
        "height": "1"
    },
    {
        "id": "66029420da2b4fcb",
        "type": "ui_group",
        "name": "",
        "tab": "69bd9ce3d618a3d5",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e751117cd4c76378",
        "type": "ui_group",
        "name": "",
        "tab": "cc3e5d7de78ca9d9",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84bc1c6d689d781a",
        "type": "ui_group",
        "name": "",
        "tab": "fd90f67fc5f23f44",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d56aa3910982da",
        "type": "ui_group",
        "name": "",
        "tab": "32a7082327a78699",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5221b3bc4647bd69",
        "type": "ui_group",
        "name": "UbiFarm",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69bd9ce3d618a3d5",
        "type": "ui_tab",
        "name": "자동개폐기",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc3e5d7de78ca9d9",
        "type": "ui_tab",
        "name": "관수",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fd90f67fc5f23f44",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32a7082327a78699",
        "type": "ui_tab",
        "name": "개별스위치",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c9937d9becc002ea",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "온도",
        "format": "{{msg.payload.temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "608948b5cfb0f14d",
        "type": "json",
        "z": "aa16134a7e459d37",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "c9937d9becc002ea",
                "4e1864e5015b464a",
                "5332262f987b37ae",
                "d6ae3cf7444f8e98",
                "e7be9deb48b2dba4",
                "5659b052bb6d98b8",
                "589fa72e7d86244a",
                "590436b531a92336"
            ]
        ]
    },
    {
        "id": "4e1864e5015b464a",
        "type": "debug",
        "z": "aa16134a7e459d37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "1aa67744c78a844e",
        "type": "inject",
        "z": "aa16134a7e459d37",
        "name": "온습도센서",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "986058b08239aca6"
            ]
        ]
    },
    {
        "id": "986058b08239aca6",
        "type": "file in",
        "z": "aa16134a7e459d37",
        "name": "test",
        "filename": "C:\\Users\\user\\Documents\\한국외대\\현장실습\\유비샘\\스마트팜.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "608948b5cfb0f14d"
            ]
        ]
    },
    {
        "id": "0f5ddd9c345a73de",
        "type": "inject",
        "z": "aa16134a7e459d37",
        "name": "온습도센서",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"0\": \"O-G:C-L:00100:1-LoRa 게이트웨이\", \"1\": \"O-Y:B-L:00101:1-온습도1\", \"2\": \"O-Y:B-L:00102:1-온습도2\", \"3\": \"O-Y:C-G:23-온습도3\", \"4\": \"O-M:C:50-G:17:27-천창개폐기1\", \"5\": \"O-M:C:70-L:00105:1-천창개폐기2\", \"6\": \"O-F:C:2-L:00106:1-중앙FAN\", \"7\": \"O-V:C-G:9-환풍기2\", \"8\": \"O-V:C-G:6-관수1\", \"9\": \"O-V:C-G:13-관수2\", \"10\": \"O-V:C-G:19-관수3\"}",
        "payloadType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5332262f987b37ae",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "습도",
        "format": "{{msg.payload.hmd}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "d6ae3cf7444f8e98",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "온도",
        "group": "5ac4f52b3eb9426b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "℃",
        "format": "{{msg.payload.temp}}",
        "min": "-20",
        "max": "80",
        "colors": [
            "#0091ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "40",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "e7be9deb48b2dba4",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "습도",
        "group": "5ac4f52b3eb9426b",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.hmd}}",
        "min": "55",
        "max": "80",
        "colors": [
            "#b1b3b4",
            "#bdd3ff",
            "#009afa"
        ],
        "seg1": "64",
        "seg2": "72",
        "className": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "53212d408f5452d6",
        "type": "file in",
        "z": "aa16134a7e459d37",
        "name": "config",
        "filename": "C:\\Users\\user\\Documents\\한국외대\\현장실습\\유비샘\\ubifarm\\controller config file.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "608948b5cfb0f14d"
            ]
        ]
    },
    {
        "id": "8d063608f9cfe7ea",
        "type": "inject",
        "z": "aa16134a7e459d37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "53212d408f5452d6"
            ]
        ]
    },
    {
        "id": "4d5458a4a4e00c30",
        "type": "file in",
        "z": "aa16134a7e459d37",
        "name": "config",
        "filename": "C:\\Users\\user\\Documents\\한국외대\\현장실습\\유비샘\\node-blue\\node-blue_ubisam\\controller config file.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "608948b5cfb0f14d"
            ]
        ]
    },
    {
        "id": "7ec5776144a63c54",
        "type": "inject",
        "z": "aa16134a7e459d37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "4d5458a4a4e00c30"
            ]
        ]
    },
    {
        "id": "5659b052bb6d98b8",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "온도",
        "format": "{{msg.payload.temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "99ac3926622e3922",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "습도",
        "format": "{{msg.payload.hmd}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "589fa72e7d86244a",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "온도",
        "group": "5ac4f52b3eb9426b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "℃",
        "format": "{{msg.payload.temp}}",
        "min": "-20",
        "max": "80",
        "colors": [
            "#0091ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "40",
        "className": "",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "36db126b1065be29",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "습도",
        "group": "5ac4f52b3eb9426b",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.hmd}}",
        "min": "55",
        "max": "80",
        "colors": [
            "#b1b3b4",
            "#bdd3ff",
            "#009afa"
        ],
        "seg1": "64",
        "seg2": "72",
        "className": "",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "4854e4934101a6cc",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "온도",
        "format": "{{msg.payload.temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "7f6e1492895dd5f3",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "습도",
        "format": "{{msg.payload.hmd}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "887c861f364c5f39",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "온도",
        "group": "5ac4f52b3eb9426b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "℃",
        "format": "{{msg.payload.temp}}",
        "min": "-20",
        "max": "80",
        "colors": [
            "#0091ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "40",
        "className": "",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "6f2d3e3e8c684257",
        "type": "ui_gauge",
        "z": "aa16134a7e459d37",
        "name": "습도",
        "group": "5ac4f52b3eb9426b",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.hmd}}",
        "min": "55",
        "max": "80",
        "colors": [
            "#b1b3b4",
            "#bdd3ff",
            "#009afa"
        ],
        "seg1": "64",
        "seg2": "72",
        "className": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "760bdd44e5b1ed4b",
        "type": "debug",
        "z": "aa16134a7e459d37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "590436b531a92336",
        "type": "function",
        "z": "aa16134a7e459d37",
        "name": "",
        "func": "let arr = []\nlet count\nvar length = msg.payload.objectInfo.length\nfor (let i = 0; i < length; i++) {\n    if (msg.payload.objectInfo[i].includes(\"Y\")) {\n        count = count(msg.payload.objectInfo[i].includes(\"Y\"))\n        arr.push(msg.payload.objectInfo[i])\n    }\n}\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "760bdd44e5b1ed4b"
            ]
        ]
    },
    {
        "id": "8c3e7f34d628f8cd",
        "type": "inject",
        "z": "aa16134a7e459d37",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 780,
        "wires": [
            [
                "d5191a6786e1686f"
            ]
        ]
    },
    {
        "id": "f8bf436506d40e79",
        "type": "sqlite",
        "z": "aa16134a7e459d37",
        "mydb": "c9674f597e501b55",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "test",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "0520ce9526dc5ef6",
                "83e025b52cc52108"
            ]
        ]
    },
    {
        "id": "83e025b52cc52108",
        "type": "debug",
        "z": "aa16134a7e459d37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "d5191a6786e1686f",
        "type": "function",
        "z": "aa16134a7e459d37",
        "name": "",
        "func": "msg.topic = \"select count(*) from test where ObjectExist = 'O';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 780,
        "wires": [
            [
                "f8bf436506d40e79"
            ]
        ]
    },
    {
        "id": "0520ce9526dc5ef6",
        "type": "ui_text",
        "z": "aa16134a7e459d37",
        "group": "5ac4f52b3eb9426b",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "07fed334813907fd",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "bffcb02462b36f76",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 1",
        "label": "센서 1",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "dcae3b2724ee3559",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "545463a31753566b",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 2",
        "label": "센서 2",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "f21db056a3765b9e",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "9ef9eb2e19c78de5",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 4",
        "label": "센서 4",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "1b951df43d2caba6",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "sensorCount = msg.payload[0].LoRaNodeGpioRelayNo    // 센서 수(test.db에서 불러옴)\n\nif (sensorCount == 1)   // 센서 수가 1개라면 센서1의 정보만 보여줌\n    msg.payload={\"group\":{\"hide\":[\"자동개폐기_센서2\", \"자동개폐기_센서3\", \"자동개폐기_센서4\"],\"show\":[\"자동개폐기_센서1\"], \"focus\":true}}\nelse if (sensorCount == 2)  // 센서 수가 2개라면 센서1과 센서2의 정보를 보여줌\n    msg.payload={\"group\":{\"hide\":[\"자동개폐기_센서3\", \"자동개폐기_센서4\"],\"show\":[\"자동개폐기_센서1\", \"자동개폐기_센서2\"], \"focus\":true}}\nelse if (sensorCount == 3)  // 센서 수가 3개라면 센서1, 센서2, 센서3의 정보를 보여줌\n    msg.payload={\"group\":{\"hide\":[\"자동개폐기_센서4\"],\"show\":[\"자동개폐기_센서1\", \"자동개폐기_센서2\", \"자동개폐기_센서3\"], \"focus\":true}}\nelse if (sensorCount == 4)  // 센서 수가 4개라면 센서1, 센서2, 센서3, 센서4의 정보를 보여줌\n    msg.payload={\"group\":{\"show\":[\"자동개폐기_센서1\", \"자동개폐기_센서2\", \"자동개폐기_센서3\", \"자동개폐기_센서4\"], \"focus\":true}}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bef269191fedde51",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "07fed334813907fd",
                "e1457dd0113aba42",
                "179ec2f1378a1ff3"
            ]
        ]
    },
    {
        "id": "928f4114ddef7ee8",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "dcae3b2724ee3559",
                "b2173decbc3381cb",
                "6fedd33b085cd405"
            ]
        ]
    },
    {
        "id": "b62193d93cdac119",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "f21db056a3765b9e",
                "62d9387174109c9e",
                "97a17d3662219338"
            ]
        ]
    },
    {
        "id": "768b6964cc438b82",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "e79b1aa46c70beeb",
                "0173641d6a8204e6"
            ]
        ]
    },
    {
        "id": "e79b1aa46c70beeb",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "msg.topic = \"select LoRaNodeGpioRelayNo from test where OperationControlMode = 'S' and LoRaNodeGpioRelayNo = '\" + msg.payload + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "58e2139acf0da35a"
            ]
        ]
    },
    {
        "id": "58e2139acf0da35a",
        "type": "sqlite",
        "z": "4cddfbde14dbe5c4",
        "mydb": "5b70977fbad2fd6b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "test",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "1b951df43d2caba6"
            ]
        ]
    },
    {
        "id": "fad4ff839a042d9f",
        "type": "debug",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "8cd90926d55e8083",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "e79b1aa46c70beeb",
                "0173641d6a8204e6"
            ]
        ]
    },
    {
        "id": "7b2803490165257d",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "e79b1aa46c70beeb",
                "0173641d6a8204e6"
            ]
        ]
    },
    {
        "id": "03d8c01d4d0ad4ed",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "e79b1aa46c70beeb",
                "0173641d6a8204e6"
            ]
        ]
    },
    {
        "id": "e1457dd0113aba42",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "bffcb02462b36f76",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "b2173decbc3381cb",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "545463a31753566b",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "179ec2f1378a1ff3",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "bffcb02462b36f76",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "6fedd33b085cd405",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "545463a31753566b",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "62d9387174109c9e",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "9ef9eb2e19c78de5",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "97a17d3662219338",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "9ef9eb2e19c78de5",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 580,
        "wires": []
    },
    {
        "id": "5ed03bb09ddc3ed1",
        "type": "sqlite",
        "z": "4cddfbde14dbe5c4",
        "mydb": "5b70977fbad2fd6b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "test",
        "x": 590,
        "y": 760,
        "wires": [
            [
                "0ece14cf0142523b"
            ]
        ]
    },
    {
        "id": "99c21581217f1c1d",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "msg.topic = \"select count(*) as count from test where OperationControlMode = 'S';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "5ed03bb09ddc3ed1"
            ]
        ]
    },
    {
        "id": "36927cc9473439a8",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "온습도센서",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "99c21581217f1c1d"
            ]
        ]
    },
    {
        "id": "9b438d925f37b4a9",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "msg.topic = \"select count(*) as count from test where ObjectType = 'M';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "5ed03bb09ddc3ed1"
            ]
        ]
    },
    {
        "id": "e4f6088537729fa9",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "모터",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "9b438d925f37b4a9"
            ]
        ]
    },
    {
        "id": "2ec137048d051cb9",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "msg.topic = \"select count(*) as count from test where FanDevDriverType is not null;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "5ed03bb09ddc3ed1"
            ]
        ]
    },
    {
        "id": "314f1cdd13e158d4",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "FAN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "2ec137048d051cb9"
            ]
        ]
    },
    {
        "id": "8803ca367897c8fd",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "msg.topic = \"select count(*) as count from test where ObjectType = 'V';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 860,
        "wires": [
            [
                "5ed03bb09ddc3ed1"
            ]
        ]
    },
    {
        "id": "f96893624be480bb",
        "type": "inject",
        "z": "4cddfbde14dbe5c4",
        "name": "Valve",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "8803ca367897c8fd"
            ]
        ]
    },
    {
        "id": "0ece14cf0142523b",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "// db에서 불러온 data를 활용하여 ui에 적용할 수 있도록 하는 코드\n\nvar deviceCount = msg.payload[0].count // 각 장비 수\nlet arr1 = [] // 출력확인용\nlet arr2 =[] // 출력확인용\n\nfor (var i = 1; i <= deviceCount; i++) {\n    var deviceCountOver = deviceCount + i\n    arr1.push(i) // 출력확인용\n    arr2.push(deviceCountOver) // 출력확인용\n        msg.payload={\"group\":{\"show\":[\"자동개폐기(동)_센서\" + i], \"hide\":[\"자동개폐기(동)_센서\" + deviceCountOver], \"focus\":true}}\n}\nmsg.count = arr1 + \"/\" + arr2 // 출력확인용\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 760,
        "wires": [
            [
                "db40ac25183cd567",
                "56ce9380b8051b29"
            ]
        ]
    },
    {
        "id": "0173641d6a8204e6",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "var deviceCount = msg.payload\nlet arr =[]\nlet arr2 = []\nfor (var i = 1; i <= deviceCount; i++) {\n    var deviceCountOver = deviceCount + i\n    arr.push(i)\n    arr2.push(deviceCountOver)\n}\nmsg.payload = arr + \"/\" + arr2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "fad4ff839a042d9f"
            ]
        ]
    },
    {
        "id": "1b91c42c478a9ccb",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "f95961c82fad7173",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 5",
        "label": "센서 5",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1530,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec22da341910d267",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 120,
        "wires": [
            [
                "1b91c42c478a9ccb",
                "fa57bfb79e7fbf93",
                "4bde199f68dee87c"
            ]
        ]
    },
    {
        "id": "fa57bfb79e7fbf93",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "f95961c82fad7173",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 120,
        "wires": []
    },
    {
        "id": "4bde199f68dee87c",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "f95961c82fad7173",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 160,
        "wires": []
    },
    {
        "id": "daa15083e030d02a",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "3774b6d926f80857",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 6",
        "label": "센서 6",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1530,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb15d1963b075520",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "daa15083e030d02a",
                "4bb7d5b2ae5075cd",
                "fd9f4e56f0490587"
            ]
        ]
    },
    {
        "id": "4bb7d5b2ae5075cd",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "3774b6d926f80857",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도6",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd9f4e56f0490587",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "3774b6d926f80857",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도6",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 300,
        "wires": []
    },
    {
        "id": "5c028f2587a37ff0",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "555bdf0c109bb5a3",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 7",
        "label": "센서 7",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1530,
        "y": 360,
        "wires": []
    },
    {
        "id": "ca42c851fd6afc19",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 400,
        "wires": [
            [
                "5c028f2587a37ff0",
                "7ec3ba49b627d420",
                "5fe9cfd565ca48d2"
            ]
        ]
    },
    {
        "id": "7ec3ba49b627d420",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "555bdf0c109bb5a3",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도7",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 400,
        "wires": []
    },
    {
        "id": "5fe9cfd565ca48d2",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "555bdf0c109bb5a3",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도7",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 440,
        "wires": []
    },
    {
        "id": "c59c0918daaf62c7",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "98bf4a0b1f90beda",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 8",
        "label": "센서 8",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "1514345d97fd1861",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 540,
        "wires": [
            [
                "c59c0918daaf62c7",
                "d51491fb611ed0bc",
                "e2c3f355f0e173be"
            ]
        ]
    },
    {
        "id": "d51491fb611ed0bc",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "98bf4a0b1f90beda",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도8",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 540,
        "wires": []
    },
    {
        "id": "e2c3f355f0e173be",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "98bf4a0b1f90beda",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도8",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 580,
        "wires": []
    },
    {
        "id": "97db51336f113bb4",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "55910fe31ce3e384",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "센서 3",
        "label": "센서 3",
        "format": "",
        "layout": "row-center",
        "className": "",
        "x": 1170,
        "y": 360,
        "wires": []
    },
    {
        "id": "db77fe2b928c3756",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 400,
        "wires": [
            [
                "97db51336f113bb4",
                "84386f52b0ac198b",
                "3053111dd628abf1"
            ]
        ]
    },
    {
        "id": "84386f52b0ac198b",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "55910fe31ce3e384",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "온도3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "3053111dd628abf1",
        "type": "ui_text",
        "z": "4cddfbde14dbe5c4",
        "group": "55910fe31ce3e384",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "습도3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "db40ac25183cd567",
        "type": "ui_ui_control",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "events": "connect",
        "x": 1060,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "56ce9380b8051b29",
        "type": "debug",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "count",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "20e37aa1da2f677c",
        "type": "function",
        "z": "4cddfbde14dbe5c4",
        "name": "",
        "func": "// db에서 불러온 data를 활용하여 ui에 적용할 수 있도록 하는 코드\n\n\nmsg.payload={\"group\":{\"show\":[\"자동개폐기(동)_센서\" + i], \"hide\":[\"자동개폐기(동)_센서\" + deviceCountOver], \"focus\":true}}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c8e55e6136d697ea",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "월요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "84d6652e48d7e712",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "화요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4bc9808a45961b98",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "수요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cc693c8dc84b7b87",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "목요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d66bc7250e4a7775",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "금요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6c57a72ba0c05580",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "토요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "989123b30187cfc2",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "807e16f339f6c4c5",
        "name": "",
        "label": "일요일",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8f55a88c9e31e976",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 1",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 20,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "5ada8602bf1aeb33",
                "28f33525bb81ec7b",
                "4fcf4ed59abdcb9a",
                "b27058f56e897962",
                "033dbee0664f12ca",
                "de5f2a25971073ea",
                "5f591ecd88c8bef1",
                "4ebb25fb98a3bfec",
                "c2b575cb4d2be474",
                "7d5f6e61b98ee38d",
                "cf20904b7d356f94"
            ]
        ]
    },
    {
        "id": "b4e13f4a39722611",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 2",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 27,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "467fa8b1cf3181aa",
                "813ac6acc91fec49",
                "87ab57496a2c291f",
                "087c5e7d745bdf88",
                "bc094cb0c2b87a9b"
            ]
        ]
    },
    {
        "id": "f1c17a4d4ed075c1",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 3",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 34,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "005b0b0e2f1343c6",
                "4a49a0bae149061e",
                "34091173638402de",
                "02139310a9109faa",
                "af2d4160805d39da"
            ]
        ]
    },
    {
        "id": "ddbbccad81ec2ae4",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 4",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 41,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "f8098cc1afb8ecc0",
                "85231f4b02af4dd5",
                "12f64a9e1f95f349",
                "49baa434ed95d7d4",
                "fd1a3380a16375d3"
            ]
        ]
    },
    {
        "id": "b76fcc4195f1e4d4",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 5",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 48,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "ca072411d3f23ff3",
                "950105923204fd1a",
                "228049ac889f73c0",
                "774ee115bdf0a281",
                "364198c3f77a7229"
            ]
        ]
    },
    {
        "id": "bbbeef8a81508360",
        "type": "ui_switch",
        "z": "5f241da8bcdfc8fb",
        "g": "3798660cc230601c",
        "name": "",
        "label": "관수 6",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 55,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "4fdde22c14dd1c1f",
                "fc1efb8d26819dc6",
                "8bd5676d486655b0",
                "495b6c19a9e3d13b",
                "56d7e79fdd51c59a"
            ]
        ]
    },
    {
        "id": "5ada8602bf1aeb33",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "d2fcd03bdbdc641e",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 23,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "28f33525bb81ec7b",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "d2fcd03bdbdc641e",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 24,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4fcf4ed59abdcb9a",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "d2fcd03bdbdc641e",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 25,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b27058f56e897962",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "d2fcd03bdbdc641e",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 26,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "467fa8b1cf3181aa",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "6afd11a0e748761f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 30,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "813ac6acc91fec49",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "6afd11a0e748761f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 31,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "87ab57496a2c291f",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "6afd11a0e748761f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 32,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "087c5e7d745bdf88",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "6afd11a0e748761f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 33,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "005b0b0e2f1343c6",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "adbd5d147578321f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 37,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "4a49a0bae149061e",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "adbd5d147578321f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 38,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "34091173638402de",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "adbd5d147578321f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 39,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "02139310a9109faa",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "adbd5d147578321f",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 40,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "f8098cc1afb8ecc0",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "60c6c742053a4a75",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 44,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "85231f4b02af4dd5",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "60c6c742053a4a75",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 45,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "12f64a9e1f95f349",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "60c6c742053a4a75",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 46,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "49baa434ed95d7d4",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "60c6c742053a4a75",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 47,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "ca072411d3f23ff3",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "e9332d4f2e443677",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 51,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "950105923204fd1a",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "e9332d4f2e443677",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 52,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "228049ac889f73c0",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "e9332d4f2e443677",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 53,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "774ee115bdf0a281",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "e9332d4f2e443677",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 54,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "4fdde22c14dd1c1f",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "ccc43ee0c889a4e5",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 58,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1efb8d26819dc6",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "ccc43ee0c889a4e5",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 59,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "8bd5676d486655b0",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "ccc43ee0c889a4e5",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 60,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구동",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "495b6c19a9e3d13b",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "ccc43ee0c889a4e5",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 61,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "033dbee0664f12ca",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 22,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "de5f2a25971073ea",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 29,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5f591ecd88c8bef1",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 36,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "4ebb25fb98a3bfec",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 43,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b575cb4d2be474",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 50,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "7d5f6e61b98ee38d",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "cf005d4180aedcbc",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 57,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "cf20904b7d356f94",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 21,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bc094cb0c2b87a9b",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 28,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "af2d4160805d39da",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 35,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fd1a3380a16375d3",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 42,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "364198c3f77a7229",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 49,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "56d7e79fdd51c59a",
        "type": "ui_text_input",
        "z": "5f241da8bcdfc8fb",
        "g": "976ef3a61e3706ea",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e751117cd4c76378",
        "order": 56,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1480,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ea484b7667f2d024",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "2509d8977ef14784",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "급수선택",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3ea07929609dea",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "2509d8977ef14784",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "급수시간",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1819bf1cf54a9cb7",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "2509d8977ef14784",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 18,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "공급시간",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d19d17368abb0c1f",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "2509d8977ef14784",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "급수요일",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "464d6102dd6fb3f0",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "2509d8977ef14784",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 19,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "구분",
        "tooltip": "",
        "color": "",
        "bgcolor": "SKYBLUE",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d8fc3fd7f51faccf",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "자동개폐기",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "3215e56a6442c43f"
            ]
        ]
    },
    {
        "id": "3215e56a6442c43f",
        "type": "ui_ui_control",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "events": "all",
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "df38ac7beefeaec1",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "개별스위치",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "6995ae8ebce60595"
            ]
        ]
    },
    {
        "id": "71f3fffa0dddecfa",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "6d9403fd9d7b2149"
            ]
        ]
    },
    {
        "id": "6995ae8ebce60595",
        "type": "ui_ui_control",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "events": "all",
        "x": 310,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6d9403fd9d7b2149",
        "type": "ui_ui_control",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "events": "all",
        "x": 310,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "302113622157b0d7",
        "type": "ui_ui_control",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "events": "all",
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9ab72005664a99ee",
        "type": "ui_button",
        "z": "5f241da8bcdfc8fb",
        "g": "efbd785e18f8ca32",
        "name": "",
        "group": "e751117cd4c76378",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "관수",
        "tooltip": "",
        "color": "black",
        "bgcolor": "SILVER",
        "className": "",
        "icon": "twitch",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "302113622157b0d7"
            ]
        ]
    },
    {
        "id": "55d295438d882350",
        "type": "ui_ui_control",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c5238d732c52e0b7",
        "type": "ui_ui_control",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "48cace10cba144ed",
        "type": "ui_ui_control",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "21d0b35346f7c601",
        "type": "ui_ui_control",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6ad57d7a4f6980d3",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "자동개폐기",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "55d295438d882350"
            ]
        ]
    },
    {
        "id": "9447999031acd531",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "개별스위치",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "c5238d732c52e0b7"
            ]
        ]
    },
    {
        "id": "2ee7cdfc71279e98",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "48cace10cba144ed"
            ]
        ]
    },
    {
        "id": "76bc435962df93fd",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "98d3741c08bcba1e",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "관수",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "21d0b35346f7c601"
            ]
        ]
    },
    {
        "id": "bdb77e64b718f134",
        "type": "function",
        "z": "2bf00acfce54ad99",
        "g": "99a6cdafc4188e97",
        "name": "",
        "func": "var date = new Date();\nmsg.payload = date.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "ba83c0affb998080"
            ]
        ]
    },
    {
        "id": "ba83c0affb998080",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "99a6cdafc4188e97",
        "group": "66029420da2b4fcb",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "7e4c43fd536a2268",
        "type": "inject",
        "z": "2bf00acfce54ad99",
        "g": "99a6cdafc4188e97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "bdb77e64b718f134"
            ]
        ]
    },
    {
        "id": "b0b1b9da1375262d",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 17,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "온도1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "8b741c216fe7983e",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 18,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "온도2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "3fe7c6fce7e9d092",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 19,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "온도3",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "eb60397ecaa5719b",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 21,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "습도1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "88707db791accb26",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 22,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "습도2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "25dd80949faa62aa",
        "type": "ui_text",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "group": "66029420da2b4fcb",
        "order": 23,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "습도3",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd84511cb579225d",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 25,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "열림",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 700,
        "wires": [
            [
                "510d3b7eef159e63"
            ]
        ]
    },
    {
        "id": "a545fcc1e4c2a4bd",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 26,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 740,
        "wires": [
            [
                "510d3b7eef159e63"
            ]
        ]
    },
    {
        "id": "3d67642ca3bce3d1",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 27,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "닫힘",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 780,
        "wires": [
            [
                "510d3b7eef159e63"
            ]
        ]
    },
    {
        "id": "51df92b53962cda2",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 28,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 820,
        "wires": [
            [
                "510d3b7eef159e63"
            ]
        ]
    },
    {
        "id": "e014eef027a214e1",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 29,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 860,
        "wires": [
            [
                "510d3b7eef159e63"
            ]
        ]
    },
    {
        "id": "b8cfb323f0c12eee",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 31,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "천장(우)",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 760,
        "y": 780,
        "wires": [
            [
                "a545fcc1e4c2a4bd",
                "3d67642ca3bce3d1",
                "51df92b53962cda2",
                "e014eef027a214e1",
                "cd84511cb579225d"
            ]
        ]
    },
    {
        "id": "510d3b7eef159e63",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "1d40b670db12a4bf",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 30,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "상태",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "WHITE",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "febac0ff77c03379",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 32,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "열림",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "9d57621738361b81"
            ]
        ]
    },
    {
        "id": "3bd63f1dccb13713",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 33,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "정지",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "9d57621738361b81"
            ]
        ]
    },
    {
        "id": "58ceb84636ec474a",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 34,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "닫힘",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "9d57621738361b81"
            ]
        ]
    },
    {
        "id": "ae7423fd79ae017d",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 35,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "자동",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "9d57621738361b81"
            ]
        ]
    },
    {
        "id": "c1f471482da49ed1",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 36,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "수동",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "9d57621738361b81"
            ]
        ]
    },
    {
        "id": "163829bdc6e39320",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 24,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "천장-(A)",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "febac0ff77c03379",
                "3bd63f1dccb13713",
                "58ceb84636ec474a",
                "ae7423fd79ae017d",
                "c1f471482da49ed1"
            ]
        ]
    },
    {
        "id": "9d57621738361b81",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "3b6fc36a68319840",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 37,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "상태",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "WHITE",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4d193542eabdcc40",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "922ea26fe2ae54ab",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "고온경보",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "AQUA",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 760,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e56e24fe62f0ab0b",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "922ea26fe2ae54ab",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "저온경보",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "AQUA",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9a38ac3fa7401fd6",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "922ea26fe2ae54ab",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "빗물감지",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "AQUA",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1060,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5a685d3364f5137e",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "922ea26fe2ae54ab",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "0.0리터",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "AQUA",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "edd4f3102fcdb40b",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 13,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "센서1",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7512b95d88833b24",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 14,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "센서2",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c91522a66838eee1",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 15,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "센서3",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e698ae724c1d1778",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "구분",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9925741c616b8027",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "온도",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e40f2960200158aa",
        "type": "ui_button",
        "z": "2bf00acfce54ad99",
        "g": "4adbe1ee7c8ef3dc",
        "name": "",
        "group": "66029420da2b4fcb",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "습도",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "gold",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8794a54dae6e5175",
        "type": "ui_ui_control",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2d8eab8198d604b8",
        "type": "ui_ui_control",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7da5b23352107de6",
        "type": "ui_ui_control",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f34dc3ef4b9efd7c",
        "type": "ui_ui_control",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "434bbf01d5ac1c31",
        "type": "ui_button",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "group": "e8d56aa3910982da",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "자동개폐기",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "8794a54dae6e5175"
            ]
        ]
    },
    {
        "id": "2fac110d59a206d2",
        "type": "ui_button",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "group": "e8d56aa3910982da",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "개별스위치",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "2d8eab8198d604b8"
            ]
        ]
    },
    {
        "id": "45881394b38ae22d",
        "type": "ui_button",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "group": "e8d56aa3910982da",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "7da5b23352107de6"
            ]
        ]
    },
    {
        "id": "e1f9b77fa851fdbf",
        "type": "ui_button",
        "z": "fd050a4798339e42",
        "g": "8a2228b1e2645e65",
        "name": "",
        "group": "e8d56aa3910982da",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "관수",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "f34dc3ef4b9efd7c"
            ]
        ]
    },
    {
        "id": "6ec9c7301546a00b",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 400,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d783f2a41cc57d29",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "설정",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4b696428718c90d5",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "변경",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b4cff9fb7bd42591",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 230,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0fba7d381ede2bd8",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 13,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 400,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "dc130e12dde43485",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 560,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b7ea1397563cd4ba",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0b9069d3a5dc6e7d",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 880,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "221247fd8a86ef61",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1040,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "047ee56c9f8a6e3d",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1200,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "92df88d877be7617",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 19,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "551aeb0c66ed6123",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7af11e1317fb070e",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 21,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f0b2d9ca98758ee5",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 22,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0ab0cdf92999057f",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 23,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "27afeab66ecb4d19",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 24,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 870,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9adab606e0670d3e",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 25,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7b1533d7192617db",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 26,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1190,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "54c4aa3500f2ba0f",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 27,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1350,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d321c8d91d46cefd",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 28,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b74ad7d106942e41",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 29,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0ea762df80f51c56",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 30,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1468982b6ae03af1",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 31,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0dce0f6e32052176",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 32,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 870,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b3419bb28ee196c2",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 33,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "99e9a29e5479146d",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 34,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1190,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf064edcab888b3",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 35,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "751562cf2eea881e",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 36,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "13067e845bbc5618",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 37,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b456b1641b3a2cc4",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 38,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "729e5d3f4845b604",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 39,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef3fda544617a97",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 40,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 870,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e34eee61d4092444",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 41,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "063f0ba93d607441",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 42,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1190,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b7d22841bdbfb216",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 43,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1350,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "26547f2d1aabdf24",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 44,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "feca03ac940c1a3e",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 45,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "580a8c3c5397d1bf",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 46,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8c2385424ea7a9f6",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 47,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "0df879f223058410",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 48,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 870,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "518c757bb7990d2f",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 49,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1030,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c82915f1b7d06192",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 50,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1190,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4616ea3123356d66",
        "type": "ui_text_input",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "84bc1c6d689d781a",
        "order": 51,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8ebc92cba8e6f59b",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "개폐시간",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bfd58db299dcf7",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "NO",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "da9c43d732e07a1d",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "그룹이름",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 389.8125,
        "y": 398.818603515625,
        "wires": [
            []
        ]
    },
    {
        "id": "5a0475e63f447ca6",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "자동/수동",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3cb33694e35fcc",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "목표온도",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "40fed23677dc9087",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "열림제한",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 890,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c5d0a2079107e2bb",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "온도범위",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8b91e31d810e2f26",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "작동시간",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7351cdea385ca050",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "115715fb6f05b88b",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "대기시간",
        "tooltip": "",
        "color": "BLACK",
        "bgcolor": "skyblue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "39128f8ace36a959",
        "type": "ui_ui_control",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6500a5089cc839cd",
        "type": "ui_ui_control",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b93f8f9aa7d3b78a",
        "type": "ui_ui_control",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a1a76c1ab8e25b59",
        "type": "ui_ui_control",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c924e490bd067710",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "자동개폐기",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "39128f8ace36a959"
            ]
        ]
    },
    {
        "id": "6e55c31be4d91dd1",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "개별스위치",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "6500a5089cc839cd"
            ]
        ]
    },
    {
        "id": "f34f57157c996c2d",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "black",
        "bgcolor": "silver",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "b93f8f9aa7d3b78a"
            ]
        ]
    },
    {
        "id": "130a67c028e889a5",
        "type": "ui_button",
        "z": "1d405567ed36d09c",
        "g": "292aa91d1a8cef54",
        "name": "",
        "group": "84bc1c6d689d781a",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "관수",
        "tooltip": "",
        "color": "black",
        "bgcolor": "GRAY",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "a1a76c1ab8e25b59"
            ]
        ]
    }
]