update/Team_1/Flows/create_Config_File.json
[
    {
        "id": "169a85797e154a79",
        "type": "tab",
        "label": "Create Config File2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a2f30566efa08de",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Object Info",
        "style": {
            "stroke": "#ffffff",
            "fill": "#bfdbef",
            "label": true,
            "fill-opacity": "0.6"
        },
        "nodes": [
            "ba0e623bb9a074a9",
            "8fed1a4655dd051f",
            "add71d139223a708",
            "2f19a9451d25abd8",
            "80656ce09212a79a",
            "7d8f62dbd76027fd",
            "1ba782e98a6a8af6",
            "95cd411ba2ebdf3c",
            "7126766b7445e626",
            "80f751bc8b4dd5f4",
            "f7fc7f7da2c7deea",
            "89a10b3d1d930d57",
            "ed875ac0940cce11",
            "048feccd31916b36",
            "0cbf32d79fca77a6",
            "5e241f23fecdeafe",
            "e6959ebab5c1204a",
            "fe59defcfd5ebffd",
            "c762a783444d21e2",
            "ba10f07f4318c907",
            "c2a3bdc43a0f4fc1",
            "3368011864b935e6"
        ],
        "x": 374,
        "y": 39,
        "w": 392,
        "h": 482
    },
    {
        "id": "f9d4958dda3238f1",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Device Info",
        "style": {
            "stroke": "#ffffff",
            "fill": "#e3f3d3",
            "label": true,
            "fill-opacity": "0.6"
        },
        "nodes": [
            "3f5db2c1a7225c24",
            "d8c422a7c2f78a83",
            "bea64a9119a005db",
            "ab393036eed65fe5",
            "c123e1ff9f4749d5",
            "3f8fc43855b8c6b7",
            "7b98ec905c7d8bfb",
            "26c741c7b2386634",
            "dfd73f7ad8eb81fe",
            "242e84f1514d106c",
            "2841ab51658952b0",
            "c030098303db495e",
            "bf79f12789cba960",
            "e95ac757936b9013",
            "6bf202647ce2a21e",
            "11dc1fd4521731ea",
            "963530f4cfd40518",
            "dc9c4db0b8c95ce8",
            "655994cd767fe759",
            "2d68367e9bbe03d4",
            "03ddcaa07d44f0b6",
            "63717c8f5e5b9d90",
            "9806d3f2ada52581",
            "b438ec7116999dcd",
            "89f7cd14d8dc14ca",
            "1d13571eef087ee1",
            "43cb767daac83e94",
            "542caadec3d798b4",
            "55ade1829a93d235",
            "037f41f9ac2d462b",
            "ba3bccab9726a200",
            "94e252df18cad491"
        ],
        "x": 354,
        "y": 519,
        "w": 412,
        "h": 682
    },
    {
        "id": "c4c3d752b661bf75",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Device Config",
        "style": {
            "stroke": "#ffffff",
            "fill": "#ffffbf",
            "label": true,
            "fill-opacity": "0.6"
        },
        "nodes": [
            "43dbcd6ffe0bdf65",
            "5ff3adf7418295f2",
            "9601de7b50748e53",
            "5c308059e3dbc35a",
            "d300148ebcc79a6c",
            "a8ed610a6d0cf78d"
        ],
        "x": 394,
        "y": 1199,
        "w": 372,
        "h": 162
    },
    {
        "id": "087502640bb2d38d",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Define",
        "style": {
            "stroke": "#ffffff",
            "fill": "#dbcbe7",
            "label": true,
            "fill-opacity": "0.6"
        },
        "nodes": [
            "371737efb89b87fa",
            "129b0e4c1beb3d65",
            "7ab89645112c5d2e",
            "36e13c602ff1c159",
            "ece6fa1788d3991c",
            "ea048b7a1778a114",
            "9480e6175181eaa7",
            "15ae04fb3457a20c",
            "310465c9cc7977bf",
            "eeadbb4bbcc6a685",
            "b246a9e0fad829fb",
            "83f141f5aa70a299",
            "bbc6fb0bc525e62c",
            "2bfe8db888e98fe8",
            "90a69b5fe8a21773",
            "5daea235ec72498c",
            "4a7184c8ca74da7a",
            "ab76845ce02cf2b0",
            "99a0fd0572dc8448",
            "e73211dbb42b0289",
            "f870725ff32621bc",
            "9934d548d1f360a7",
            "dec7b1047b37b189",
            "77ea0db3118e0ec0",
            "7eb2afa46267a870",
            "49a43e2334ac6219",
            "da57b0b2db19efe9",
            "60dfddc785f0181b"
        ],
        "x": 354,
        "y": 1359,
        "w": 412,
        "h": 602
    },
    {
        "id": "2ec58453e616156a",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Dynamic Control",
        "style": {
            "stroke": "#ffffff",
            "fill": "#d1d1d1",
            "label": true,
            "fill-opacity": "0.31"
        },
        "nodes": [
            "1e1a024a555be74d",
            "7bfaed51608e4890",
            "c7febae4b6ea632a",
            "f15258d7a9de1438",
            "c4f0d6f21c0a7fab",
            "c9763617de5dc816",
            "d84526cb2e6f02c5",
            "6f190a75b9e70c90",
            "edd715ad4886f320"
        ],
        "x": 894,
        "y": 1639,
        "w": 592,
        "h": 322
    },
    {
        "id": "9da569a0611252fe",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "API",
        "style": {
            "stroke": "#ffffff",
            "fill": "#ffbfbf",
            "label": true,
            "fill-opacity": "0.6"
        },
        "nodes": [
            "1036e50c37f238e6",
            "1277cc801c75e98e",
            "6841017293346941",
            "19f6bd4f3b58da31",
            "69350b4e322fc41a",
            "b3fe8c4dbb261bec",
            "92c9113dff387e12",
            "3922281d84a10b6d",
            "197d17bbb4a94cfd",
            "24dcf85f5b102b64",
            "a5795127f114fe93",
            "a54bff09bca8f311"
        ],
        "x": 974,
        "y": 1239,
        "w": 452,
        "h": 282
    },
    {
        "id": "c530cad7ca73d6d3",
        "type": "group",
        "z": "169a85797e154a79",
        "name": "Json2Config",
        "style": {
            "stroke": "#ffffff",
            "fill": "#d1d1d1",
            "label": true,
            "fill-opacity": "0.53"
        },
        "nodes": [
            "ffc4f60349bed074",
            "632e6c70566ecbd7",
            "2fec2630dcb3426b",
            "534a23650589fd77",
            "adde99e034af324a",
            "c4b6667f292efc68",
            "28893410e9b74ff7",
            "0c0da8b038185838",
            "b9c0138e837a2363",
            "1f3690e23e1ce9b8",
            "3926ebe96ba7f239"
        ],
        "x": 314,
        "y": 1999,
        "w": 932,
        "h": 202
    },
    {
        "id": "3f5db2c1a7225c24",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Device Name",
        "label": "Device Nameㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 개발용 서버)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "deviceName",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "d8c422a7c2f78a83"
            ]
        ]
    },
    {
        "id": "259ada8418e18a95",
        "type": "function",
        "z": "169a85797e154a79",
        "name": "dump func",
        "func": "////////////////////////////////////////////////////dropdown 형식에서는 msg.? 이걸 따로따로 해야하는건지 의문\n\n//Setting Complete\nvar setting = flow.get('setting')||0;\n\n//Object Info\nvar objectinfo_0 = flow.get('objectInfo_0')||0;\nvar objectinfo_1 = flow.get('objectInfo_1')||0;\nvar objectinfo_2 = flow.get('objectInfo_2')||0;\nvar objectinfo_3 = flow.get('objectInfo_3')||0;\nvar objectinfo_4 = flow.get('objectInfo_4')||0;\nvar objectinfo_5 = flow.get('objectInfo_5')||0;\nvar objectinfo_6 = flow.get('objectInfo_6')||0;\nvar objectinfo_7 = flow.get('objectInfo_7')||0;\nvar objectinfo_8 = flow.get('objectInfo_8')||0;\nvar objectinfo_9 = flow.get('objectInfo_9')||0;\nvar objectinfo_10 = flow.get('objectInfo_10')||0;\n\n////////////////////////////////////////////////////보류\n\n//Device Info\nvar devicename = flow.get('deviceName')||0;\nvar userid = flow.get('userId')||0;\nvar lorafarmid = flow.get('LoRaFarmID')||0;\nvar ddnsname = flow.get('ddnsName')||0;\nvar routermanufacturer = flow.get('routerManufacturer')||0;\nvar routermodel = flow.get('routerModel')||0;\nvar dvrmanufacturer = flow.get('dvrManufacturer')||0;\nvar dvrmodel = flow.get('dvrModel')||0;\nvar dvrcamcount = flow.get('dvrCamCount')||0;\nvar farmaddress = flow.get('farmAddress')||0;\nvar networktype = flow.get('networkType')||0;\nvar latitude = flow.get('latitude')||0;\nvar longitude = flow.get('longitude')||0;\nvar currentvolume = flow.get('currentVolume')||0;\nvar currentbroadcasturl = flow.get('currentBroadcastUrl')||0;\nvar healthcheckinterval = flow.get('healthcheckInterval')||0;\n\n//Device Config\nvar dvripaddress = flow.get('dvrIpAddress')||0;\nvar dvrloginid = flow.get('dvrLoginId')||0;\nvar dvrpassword = flow.get('dvrPassword')||0;\n\n//Define\nvar GPIOSRPN = flow.get('GPIOSRPN')||0;\nvar MMOT = flow.get('MMOT')||0;\nvar VMOT = flow.get('VMOT')||0;\nvar FMOT = flow.get('FMOT')||0;\nvar CPS = flow.get('CPS')||0;\nvar SDSP = flow.get('SDSP')||0;\nvar LODIG = flow.get('LODIG')||0;\nvar MDEIG = flow.get('MDEIG')||0;\nvar TUL = flow.get('TUL')||0;\nvar TLL = flow.get('TLL')||0;\nvar HUL = flow.get('HUL')||0;\nvar HLL = flow.get('HLL')||0;\nvar CO2UL = flow.get('CO2UL')||0;\nvar CO2LL = flow.get('CO2LL')||0;\n\n\n//API\nvar farmtype = flow.get('farmType')||0;\nvar gropnm = flow.get('gropNm')||0;\nvar grenhousno = flow.get('grenHousNo')||0;\nvar ceonm = flow.get('ceoNm')||0;\nvar hpguserid = flow.get('hpgUserId')||0;\nvar pswdnm = flow.get('pswdNm')||0;\n\n//setting_complete도 드롭다운 형식으로 바꿀 예정\nmsg.payload = { \n\nsmartfarm:\n{ setting_complete: setting,\n\ndeviceinfo : { devicename, userid, lorafarmid, ddnsname, routermanufacturer, routermodel, dvrmanufacturer, dvrmodel, dvrcamcount, farmaddress, networktype, latitude, longitude, currentvolume, currentbroadcasturl, healthcheckinterval },\n\n//objectinfo : { 0: zero, 1: one, 2: two, 3: three, 4: four, 5: five, 6: six, 7: seven, 8: eight, 9: nine, 10: ten },\nobjectinfo : { 0: objectinfo_0, 1: objectinfo_1, 2: objectinfo_2, 3: objectinfo_3, 4: objectinfo_4, 5: objectinfo_5, 6: objectinfo_6, 7: objectinfo_7, 8: objectinfo_8, 9: objectinfo_9, 10: objectinfo_10  }, \n\ndeviceConfig : { dvripaddress, dvrloginid, dvrpassword,\ndefine : { GPIOSRPN, MMOT, VMOT, FMOT, CPS, SDSP, LODIG, MDEIG, TUL, TLL, HUL, HLL, CO2UL, CO2LL,\n}\n    \n},\n\njejuApi : { farmtype, gropnm, grenhousno, ceonm, hpguserid, pswdnm, }\n\n}\n};\n\n\nglobal.set(\"configform5\", msg);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c422a7c2f78a83",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.deviceName \ncontext.data.deviceName = msg.payload;\n//context.data.deviceName = String(msg.payload);\n\nflow.set('deviceName', context.data.deviceName);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "bea64a9119a005db",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "User ID",
        "label": "User IDㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 5)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "userId",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "ab393036eed65fe5"
            ]
        ]
    },
    {
        "id": "ab393036eed65fe5",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.userId \ncontext.data.userId = msg.payload;\n\nflow.set('userId', context.data.userId);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "c123e1ff9f4749d5",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "LoRa Farm ID",
        "label": "LoRa Farm IDㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 001)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "LoRaFarmID",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "3f8fc43855b8c6b7"
            ]
        ]
    },
    {
        "id": "3f8fc43855b8c6b7",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.LoRaFarmID \ncontext.data.LoRaFarmID = msg.payload;\n\nif (msg.payload.length < 6 ) {\n    flow.set('LoRaFarmID', context.data.LoRaFarmID);\n    global.set(\"errorCase\", 'noError');\n} else {\n    global.set(\"errorCase\", 'LoRa Farm ID Length Error');\n    msg.payload = 'LoRa Farm ID Length Error';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 640,
        "wires": [
            [
                "227f0eee6f504833"
            ]
        ]
    },
    {
        "id": "7b98ec905c7d8bfb",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "DDNS name",
        "label": "DDNS name ㅤㅤ(ex: http:///77972646.iptime.org:11990)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 7,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "ddnsName",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "26c741c7b2386634"
            ]
        ]
    },
    {
        "id": "26c741c7b2386634",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.ddnsName \ncontext.data.ddnsName = msg.payload;\n\nflow.set('ddnsName', context.data.ddnsName);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "dfd73f7ad8eb81fe",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Router Manufacturer",
        "label": "Router Manufacturerㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: KT)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 10,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "routerManufacturer",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "242e84f1514d106c"
            ]
        ]
    },
    {
        "id": "242e84f1514d106c",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.routerManufacturer \ncontext.data.routerManufacturer = msg.payload;\n\nflow.set('routerManufacturer', context.data.routerManufacturer);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 720,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "2841ab51658952b0",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Router Model",
        "label": "Router Modelㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: GIGA WiFi)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 11,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "routerModel",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "c030098303db495e"
            ]
        ]
    },
    {
        "id": "c030098303db495e",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.routerModel\ncontext.data.routerModel = msg.payload;\n//context.data.routerModel = String(msg.payload);\n\nflow.set('routerModel', context.data.routerModel);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 760,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "bf79f12789cba960",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "DVR Manufacturer",
        "label": "DVR Manufacturerㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: DAHUA)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrManufacturer",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "e95ac757936b9013"
            ]
        ]
    },
    {
        "id": "e95ac757936b9013",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrManufacturer\ncontext.data.dvrManufacturer = msg.payload;\n\nflow.set('dvrManufacturer', context.data.dvrManufacturer);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 800,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "6bf202647ce2a21e",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "DVR Model",
        "label": "DVR Modelㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: D42)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 15,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrModel",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 840,
        "wires": [
            [
                "11dc1fd4521731ea"
            ]
        ]
    },
    {
        "id": "11dc1fd4521731ea",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrModel\ncontext.data.dvrModel = msg.payload;\n\nflow.set('dvrModel', context.data.dvrModel);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 840,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "963530f4cfd40518",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "DVR CamCount",
        "label": "DVR CamCountㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 0)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 18,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrCamCount",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 880,
        "wires": [
            [
                "dc9c4db0b8c95ce8"
            ]
        ]
    },
    {
        "id": "dc9c4db0b8c95ce8",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrCamCount\ncontext.data.dvrCamCount = msg.payload;\n//context.data.dvrCamCount = String(msg.payload);\n\nflow.set('dvrCamCount', context.data.dvrCamCount);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 880,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "655994cd767fe759",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Farm Address",
        "label": "Farm Addressㅤㅤㅤㅤㅤㅤㅤ(ex: Migeum Daewoon 42)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 19,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "farmAddress",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 920,
        "wires": [
            [
                "2d68367e9bbe03d4"
            ]
        ]
    },
    {
        "id": "2d68367e9bbe03d4",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.farmAddress \ncontext.data.farmAddress = msg.payload;\n\nflow.set('farmAddress', context.data.farmAddress);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 920,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "03ddcaa07d44f0b6",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.networkType \ncontext.data.networkType = msg.payload;\n\nflow.set('networkType', context.data.networkType);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 960,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "63717c8f5e5b9d90",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Latitude",
        "label": "Latitudeㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 37.4388)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 23,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "latitude",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "9806d3f2ada52581"
            ]
        ]
    },
    {
        "id": "9806d3f2ada52581",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.latitude \ncontext.data.latitude = msg.payload;\n\nflow.set('latitude', context.data.latitude);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "b438ec7116999dcd",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Longitude",
        "label": "Longitudeㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 127.1396)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 26,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "longitude",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 440,
        "y": 1040,
        "wires": [
            [
                "89f7cd14d8dc14ca"
            ]
        ]
    },
    {
        "id": "89f7cd14d8dc14ca",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.longitude\ncontext.data.longitude = msg.payload;\n//context.data.task1 = String(msg.payload);\n\nflow.set('longitude', context.data.longitude);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "1d13571eef087ee1",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Current Volume",
        "label": "Current Volumeㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 0)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 27,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "currentVolume",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "43cb767daac83e94"
            ]
        ]
    },
    {
        "id": "43cb767daac83e94",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.currentVolume\ncontext.data.currentVolume = msg.payload;\n\nflow.set('currentVolume', context.data.currentVolume);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1080,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "542caadec3d798b4",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Current Broadcast URL",
        "label": "Current Broadcast URLㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: NONE)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 30,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "currentBroadcastUrl",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "55ade1829a93d235"
            ]
        ]
    },
    {
        "id": "55ade1829a93d235",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.currentBroadcastUrl \ncontext.data.currentBroadcastUrl = msg.payload;\n\nflow.set('currentBroadcastUrl', context.data.currentBroadcastUrl);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "037f41f9ac2d462b",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Health Check Interval",
        "label": "Health Check Intervalㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 1)",
        "tooltip": "",
        "group": "f1f88eddc714f067",
        "order": 31,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "healthcheckInterval",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "ba3bccab9726a200"
            ]
        ]
    },
    {
        "id": "ba3bccab9726a200",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.healthcheckInterval\ncontext.data.healthcheckInterval = msg.payload;\n\nflow.set('healthcheckInterval', context.data.healthcheckInterval);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "f343423c81d5f58c",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "name": "Setting",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "5e01bea49e0c40d2",
        "order": 2,
        "width": 16,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Mac address 초기화",
                "value": 0,
                "type": "num"
            },
            {
                "label": "JSON 파일 읽고 DB에 반영",
                "value": "1",
                "type": "str"
            },
            {
                "label": " JSON 파일 읽지 않고 저장된 DB이용 (초기화이후 운영모드)",
                "value": "2",
                "type": "str"
            },
            {
                "label": "DB에 있는 모든 Object 삭제",
                "value": "9",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "setting",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 20,
        "wires": [
            [
                "5f8a95972b78e06c"
            ]
        ]
    },
    {
        "id": "5f8a95972b78e06c",
        "type": "function",
        "z": "169a85797e154a79",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.setting\ncontext.data.setting = msg.payload;\n\nflow.set('setting', context.data.setting);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 20,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "ba0e623bb9a074a9",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "0",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_0",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "8fed1a4655dd051f"
            ]
        ]
    },
    {
        "id": "8fed1a4655dd051f",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_0\ncontext.data.objectInfo_0 = msg.payload;\n\nflow.set('objectInfo_0', context.data.objectInfo_0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 80,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "43dbcd6ffe0bdf65",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "DVR IP Address",
        "label": "DVR IP Addressㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 192.168.0.XXX)",
        "tooltip": "",
        "group": "12638e170fa89486",
        "order": 2,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrIpAddress",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "5ff3adf7418295f2"
            ]
        ]
    },
    {
        "id": "5ff3adf7418295f2",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrIpAddress \ncontext.data.dvrIpAddress = msg.payload;\n\nflow.set('dvrIpAddress', context.data.dvrIpAddress);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1240,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "9601de7b50748e53",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "DVR Login ID",
        "label": "DVR Login IDㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: id)",
        "tooltip": "",
        "group": "12638e170fa89486",
        "order": 5,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrLoginId",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "5c308059e3dbc35a"
            ]
        ]
    },
    {
        "id": "5c308059e3dbc35a",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrLoginId\ncontext.data.dvrLoginId = msg.payload;\n\nflow.set('dvrLoginId', context.data.dvrLoginId);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "d300148ebcc79a6c",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "DVR Password",
        "label": "DVR Passwordㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: password)",
        "tooltip": "",
        "group": "12638e170fa89486",
        "order": 8,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "dvrPassword",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "a8ed610a6d0cf78d"
            ]
        ]
    },
    {
        "id": "a8ed610a6d0cf78d",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c4c3d752b661bf75",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.dvrPassword\ncontext.data.dvrPassword = msg.payload;\n\nflow.set('dvrPassword', context.data.dvrPassword);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1320,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "1036e50c37f238e6",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "Farm Type",
        "label": "Farm Typeㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: JEJU)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 2,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "farmType",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1150,
        "y": 1280,
        "wires": [
            [
                "1277cc801c75e98e"
            ]
        ]
    },
    {
        "id": "1277cc801c75e98e",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.farmType \ncontext.data.farmType = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('farmType', context.data.farmType);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1280,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "6841017293346941",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "Group Name",
        "label": "Group Nameㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 현진테크)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 5,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "gropNm",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1150,
        "y": 1320,
        "wires": [
            [
                "19f6bd4f3b58da31"
            ]
        ]
    },
    {
        "id": "19f6bd4f3b58da31",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.gropNm \ncontext.data.gropNm = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('gropNm', context.data.gropNm);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1320,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "69350b4e322fc41a",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "GreenHouse Number",
        "label": "GreenHouse Numberㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 1)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 8,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "grenHousNo",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1120,
        "y": 1360,
        "wires": [
            [
                "b3fe8c4dbb261bec"
            ]
        ]
    },
    {
        "id": "b3fe8c4dbb261bec",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.grenHousNo\ncontext.data.grenHousNo = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('grenHousNo', context.data.grenHousNo);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1360,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "92c9113dff387e12",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "CEO Name",
        "label": "CEO Nameㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 고광희)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 11,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "ceoNm",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1150,
        "y": 1400,
        "wires": [
            [
                "3922281d84a10b6d"
            ]
        ]
    },
    {
        "id": "3922281d84a10b6d",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.ceoNm \ncontext.data.ceoNm = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('ceoNm', context.data.ceoNm);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1400,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "197d17bbb4a94cfd",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "Homepage User ID",
        "label": "Homepage User IDㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: id)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 14,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "hpgUserId",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1130,
        "y": 1440,
        "wires": [
            [
                "24dcf85f5b102b64"
            ]
        ]
    },
    {
        "id": "24dcf85f5b102b64",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.hpgUserId \ncontext.data.hpgUserId = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('hpgUserId', context.data.hpgUserId);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1440,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "a5795127f114fe93",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "Hompage User Password",
        "label": "Hompage User Passwordㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: password)",
        "tooltip": "",
        "group": "7cbb9e6ef86b3063",
        "order": 17,
        "width": 16,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "pswdNm",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1110,
        "y": 1480,
        "wires": [
            [
                "a54bff09bca8f311"
            ]
        ]
    },
    {
        "id": "a54bff09bca8f311",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "9da569a0611252fe",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.pswdNm \ncontext.data.pswdNm = msg.payload;\n\nif (msg.payload.length == 0) {\n    global.set(\"errorCase\", 'API Data missing');\n} else {\n    flow.set('pswdNm', context.data.pswdNm);\n    global.set(\"errorCase\", 'noError');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1480,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "ffc4f60349bed074",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "group": "30e15ef0371c4cb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "#3DB7C0",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 2120,
        "wires": [
            [
                "c4b6667f292efc68"
            ]
        ]
    },
    {
        "id": "632e6c70566ecbd7",
        "type": "debug",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "Take Data2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2080,
        "wires": []
    },
    {
        "id": "2fec2630dcb3426b",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "make config",
        "func": "var configData = global.get(\"configform5\");\n\nreturn configData;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2080,
        "wires": [
            [
                "632e6c70566ecbd7",
                "534a23650589fd77",
                "b9c0138e837a2363"
            ]
        ]
    },
    {
        "id": "534a23650589fd77",
        "type": "json",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1010,
        "y": 2040,
        "wires": [
            [
                "adde99e034af324a"
            ]
        ]
    },
    {
        "id": "adde99e034af324a",
        "type": "file",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "filename": "config",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1170,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "371737efb89b87fa",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "GPIO Start Relay Pin No",
        "label": "GPIO Start Relay Pin Noㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 4)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "GPIOSRPN",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "90a69b5fe8a21773"
            ]
        ]
    },
    {
        "id": "129b0e4c1beb3d65",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Motor Max Operation Time",
        "label": "Motor Max Operation Time (min)ㅤㅤㅤㅤㅤㅤㅤ(ex: 10)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "MMOT",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "5daea235ec72498c"
            ]
        ]
    },
    {
        "id": "7ab89645112c5d2e",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Valve Max Operation Time",
        "label": "Valve Max Operation Time (min)ㅤㅤㅤㅤㅤㅤㅤ(ex: 1440)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "VMOT",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "4a7184c8ca74da7a"
            ]
        ]
    },
    {
        "id": "36e13c602ff1c159",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Fan Max Operation Time",
        "label": "Fan Max Operation Time (min)ㅤㅤㅤㅤㅤㅤㅤ(ex: 1440)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 7,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "FMOT",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "ab76845ce02cf2b0"
            ]
        ]
    },
    {
        "id": "ece6fa1788d3991c",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Comm Period to Sensor",
        "label": "Comm Period to Sensorㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 5)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 10,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "CPS",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1560,
        "wires": [
            [
                "99a0fd0572dc8448"
            ]
        ]
    },
    {
        "id": "ea048b7a1778a114",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Sensor Data Save Period",
        "label": "Sensor Data Save Periodㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 10)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 11,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "SDSP",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1600,
        "wires": [
            [
                "e73211dbb42b0289"
            ]
        ]
    },
    {
        "id": "9480e6175181eaa7",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Limit Over Data Input Gap",
        "label": "Limit Over Data Input Gapㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 5)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "LODIG",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "f870725ff32621bc"
            ]
        ]
    },
    {
        "id": "15ae04fb3457a20c",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Motor Drive Event Input Gap",
        "label": "Motor Drive Event Input Gapㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 5)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 15,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "MDEIG",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 1680,
        "wires": [
            [
                "9934d548d1f360a7"
            ]
        ]
    },
    {
        "id": "310465c9cc7977bf",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Temperature Upper Limit",
        "label": "Temperature Upper Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 80)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 18,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "TUL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1720,
        "wires": [
            [
                "dec7b1047b37b189"
            ]
        ]
    },
    {
        "id": "eeadbb4bbcc6a685",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Temperature Lower Limit",
        "label": "Temperature Lower Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: -20)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 19,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "TLL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "77ea0db3118e0ec0"
            ]
        ]
    },
    {
        "id": "b246a9e0fad829fb",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Humidity Upper Limit",
        "label": "Humidity Upper Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 80)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 22,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "HUL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 1800,
        "wires": [
            [
                "7eb2afa46267a870"
            ]
        ]
    },
    {
        "id": "83f141f5aa70a299",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "Humidity Lower Limit",
        "label": "Humidity Lower Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 55)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 23,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "HLL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 480,
        "y": 1840,
        "wires": [
            [
                "49a43e2334ac6219"
            ]
        ]
    },
    {
        "id": "bbc6fb0bc525e62c",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "CO2 Upper Limit",
        "label": "CO2 Upper Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 200)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 26,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "CO2UL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 470,
        "y": 1880,
        "wires": [
            [
                "da57b0b2db19efe9"
            ]
        ]
    },
    {
        "id": "2bfe8db888e98fe8",
        "type": "ui_text_input",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "CO2 Lower Limit",
        "label": "CO2 Lower Limitㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ(ex: 1)",
        "tooltip": "",
        "group": "a95fefb164a341d2",
        "order": 27,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "CO2LL",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 470,
        "y": 1920,
        "wires": [
            [
                "60dfddc785f0181b"
            ]
        ]
    },
    {
        "id": "90a69b5fe8a21773",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.GPIOSRPN\ncontext.data.GPIOSRPN = msg.payload;\n//context.data.deviceName = String(msg.payload);\n\nflow.set('GPIOSRPN', context.data.GPIOSRPN);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1400,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "5daea235ec72498c",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.MMOT \ncontext.data.MMOT = msg.payload;\n\nflow.set('MMOT', context.data.MMOT);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "4a7184c8ca74da7a",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.VMOT \ncontext.data.VMOT = msg.payload;\n\nflow.set('VMOT', context.data.VMOT);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1480,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "ab76845ce02cf2b0",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.FMOT \ncontext.data.FMOT = msg.payload;\n\nflow.set('FMOT', context.data.FMOT);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "99a0fd0572dc8448",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.CPS \ncontext.data.CPS = msg.payload;\n\nflow.set('CPS', context.data.CPS);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1560,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "e73211dbb42b0289",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.SDSP\ncontext.data.SDSP = msg.payload;\n//context.data.routerModel = String(msg.payload);\n\nflow.set('SDSP', context.data.SDSP);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1600,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "f870725ff32621bc",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.LODIG\ncontext.data.LODIG = msg.payload;\n\nflow.set('LODIG', context.data.LODIG);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1640,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "9934d548d1f360a7",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.MDEIG\ncontext.data.MDEIG = msg.payload;\n\nflow.set('MDEIG', context.data.MDEIG);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1680,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "dec7b1047b37b189",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.TUL\ncontext.data.TUL = msg.payload;\n//context.data.dvrCamCount = String(msg.payload);\n\nflow.set('TUL', context.data.TUL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1720,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "77ea0db3118e0ec0",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.TLL\ncontext.data.TLL = msg.payload;\n\nflow.set('TLL', context.data.TLL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1760,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "7eb2afa46267a870",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.HUL \ncontext.data.HUL = msg.payload;\n\nflow.set('HUL', context.data.HUL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1800,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "49a43e2334ac6219",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.HLL\ncontext.data.HLL = msg.payload;\n\nflow.set('HLL', context.data.HLL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1840,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "da57b0b2db19efe9",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.CO2UL\ncontext.data.CO2UL = msg.payload;\n//context.data.task1 = String(msg.payload);\n\nflow.set('CO2UL', context.data.CO2UL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1880,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "60dfddc785f0181b",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "087502640bb2d38d",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.CO2LL\ncontext.data.CO2LL = msg.payload;\n\nflow.set('CO2LL', context.data.CO2LL);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1920,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "1e1a024a555be74d",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "close",
        "tooltip": "",
        "color": "",
        "bgcolor": "#7A7A7A",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_API\",\"Create_Config_File_Define\",\"Create_Config_File_Device_Information\"],\"show\":[\"Create_Config_File_control_bar\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 1920,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "7bfaed51608e4890",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Setting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Device_Information\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_Define\",\"Create_Config_File_API\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_Setting_Complete\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 1680,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "c7febae4b6ea632a",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Device Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Information\",\"Create_Config_File_Define\",\"Create_Config_File_API\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_Device_Configuration\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1000,
        "y": 1800,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "f15258d7a9de1438",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Device Info",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_Define\",\"Create_Config_File_API\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_Device_Information\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 1720,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "c4f0d6f21c0a7fab",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Object Info",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Device_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_Define\",\"Create_Config_File_API\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_Object_Information\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 1760,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "c9763617de5dc816",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "API",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_Device_Information\",\"Create_Config_File_Define\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_API\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 1880,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "d84526cb2e6f02c5",
        "type": "ui_ui_control",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "events": "all",
        "x": 1200,
        "y": 1780,
        "wires": [
            [
                "6f190a75b9e70c90"
            ]
        ]
    },
    {
        "id": "6f190a75b9e70c90",
        "type": "debug",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1780,
        "wires": []
    },
    {
        "id": "edd715ad4886f320",
        "type": "ui_button",
        "z": "169a85797e154a79",
        "g": "2ec58453e616156a",
        "name": "",
        "group": "560c9670457e1c5f",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "define",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Create_Config_File_Setting_Complete\",\"Create_Config_File_Device_Information\",\"Create_Config_File_Object_Information\",\"Create_Config_File_Device_Configuration\",\"Create_Config_File_API\"],\"show\":[\"Create_Config_File_control_bar\",\"Create_Config_File_Define\"],\"focus\":true}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 1840,
        "wires": [
            [
                "d84526cb2e6f02c5"
            ]
        ]
    },
    {
        "id": "351a7275484f4ff0",
        "type": "ui_template",
        "z": "169a85797e154a79",
        "group": "b47ce81ca04ab4ec",
        "name": "dashboard CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style id=\"blue-dashboard\">\n/*배경색*/\nbody.nr-dashboard-theme {\n    background: radial-gradient(circle, rgb(228 255 250) 0%, rgb(190 238 223) 40%, rgba(198,239,231,1) 100%);\n}\n/*상단바색*/\nbody.nr-dashboard-theme md-toolbar {\n    background: radial-gradient(circle, rgb(228 255 250) 0%, rgb(190 238 223) 40%, rgba(198,239,231,1) 100%);\n}\n/*사이드 탭바색*/\nbody.nr-dashboard-theme md-sidenav {\n    color: rgb(128 154 139);\n    background: radial-gradient(circle, rgb(228 255 250) 0%, rgb(190 238 223) 40%, rgba(198,239,231,1) 100%);\n}\n/*사이드 글자색*/\nbody.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: rgb(128 154 139);\n    background-color: transparent;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 100%);\n    border: none;\n    border-radius: 1em;\n    box-shadow: 0 0 1em 0em rgb(255 255 255 / 50%)\n}\n/*그래프 글자색 및 배경색*/\nbody.nr-dashboard-theme md-content md-card {\n    background:transparent;\n    color: rgb(128 154 139);\n}\n.nr-dashboard-theme .nr-dashboard-template {\n    background:transparent;\n   \n}\n/*제목색*/\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: #7D877E;\n    text-shadow: 1px 1px 0px rgb(0 0 0 / 50%);\n}\n\n.md-button{\n    border-radius:0.6em;\n    color:rgb(128 154 139);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: C9C9C9;\n    color:rgb(246 247 249);\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #3CBC96;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:focus {\n    background-color: #E2D78D;\n}\n\n/*.nr-dashboard-theme .nr-dashboard-numeric .value {\n    background:unset;\n    color:rgb(255 255 0);\n}\n.nr-dashboard-theme .nr-dashboard-form {\n    color:rgb(255 255 0);\n}\n*/\n\n.nr-dashboard-theme .nr-dashboard-form-button {\n    background-color: #053ea8;\n    color:rgb(215 223 245);\n}\n\n/*.nr-dashboard-theme .nr-dashboard-form-button:hover {\n    background-color: #0646bd !important;\n}\n.nr-dashboard-theme .nr-dashboard-form-button:focus {\n    background-color: #0646bd !important;\n}\n*/\n\n/* 밑줄색 */\n.nr-dashboard-theme md-input-container.md-default-theme .md-input, md-input-container .md-input {\n     color:rgb(70 220 172);\n    border-color: #46DCAC !important;\n}\n\n/*\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n    background-color: rgb(25 31 153);\n}\n\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-bar {\n    background-color: rgb(255 0 0);\n    box-shadow: inset 0 0 1px #0000005e;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(94 94 177);\n     box-shadow: 0 0 10px 0px #101086;\n}\n.nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: rgb(61 107 232);\n    box-shadow: 0 0 10px 0px #101086;\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-slider .md-track {\n    background-color: rgb(255 0 0 / 35%);\n}\nmd-slider .md-thumb {\n    box-shadow: 0 0 10px 0px #101086;\n}\n\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: #3d6be8;\n    border-color: #3d6be8;\n}\n*/\n\n/*drop down 글자색*/\n.nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(0 0 0 / 12%);\n    color:rgb(128 154 139);\n    border-radius:0.8em;\n}\n\n.nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n    margin-top: -3px;\n    border-color: #46DCAC;\n    \n}\n.nr-dashboard-theme .md-select-menu-container {\n    max-height: 85%;\n    overflow-y: auto;\n    border: none;\n    border-radius: 0.8em;\n}\n.nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n\n}\n/*drop down 네모박스 색*/\n.nr-dashboard-theme md-select-menu md-option {\n    background-color: rgb(243 243 243);\n   \n    height: 29px;\n    border-radius: 0.6em;\n    margin-left: 10px;\n    margin-right: 10px;\n    margin-top: 2px;\n    box-shadow: 0 0 6px 6px #24202133;\n    transition: 0.3s;\n}\n/*drop down 옵션 선택 색*/\n.nr-dashboard-theme md-select-menu md-option[selected] {\n    color: rgb(125 135 126) !important;\n    background-color: rgb(61 183 192) !important;\n}\n/*.nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n    background-color: rgb(70 220 172);\n}\n*/\n.nr-dashboard-theme md-select-menu md-option:last-child {\n   margin-bottom: 8px;\n}\n.nr-dashboard-theme md-select-menu md-option:active {\n    background-color: rgb(61 183 192) !important;\n    padding-left: 26px;\n}\n.nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n     border-radius: 14px;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1135.0909423828125,
        "y": 549.0908813476562,
        "wires": [
            []
        ]
    },
    {
        "id": "add71d139223a708",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "1",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_1",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "2f19a9451d25abd8"
            ]
        ]
    },
    {
        "id": "2f19a9451d25abd8",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_1\ncontext.data.objectInfo_1 = msg.payload;\n\nflow.set('objectInfo_1', context.data.objectInfo_1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "80656ce09212a79a",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "2",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_2",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "7d8f62dbd76027fd"
            ]
        ]
    },
    {
        "id": "7d8f62dbd76027fd",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_2\ncontext.data.objectInfo_2 = msg.payload;\n\nflow.set('objectInfo_2', context.data.objectInfo_2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "1ba782e98a6a8af6",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "3",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 7,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_3",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "95cd411ba2ebdf3c"
            ]
        ]
    },
    {
        "id": "95cd411ba2ebdf3c",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_3\ncontext.data.objectInfo_3 = msg.payload;\n\nflow.set('objectInfo_3', context.data.objectInfo_3);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "7126766b7445e626",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "4",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 10,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_4",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "80f751bc8b4dd5f4"
            ]
        ]
    },
    {
        "id": "80f751bc8b4dd5f4",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_4\ncontext.data.objectInfo_4= msg.payload;\n\nflow.set('objectInfo_4', context.data.objectInfo_4);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "f7fc7f7da2c7deea",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "5",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 11,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_5",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "89a10b3d1d930d57"
            ]
        ]
    },
    {
        "id": "89a10b3d1d930d57",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_5\ncontext.data.objectInfo_5= msg.payload;\n\nflow.set('objectInfo_5', context.data.objectInfo_5);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "ed875ac0940cce11",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "6",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_6",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "048feccd31916b36"
            ]
        ]
    },
    {
        "id": "048feccd31916b36",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_6\ncontext.data.objectInfo_6= msg.payload;\n\nflow.set('objectInfo_6', context.data.objectInfo_6);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 320,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "0cbf32d79fca77a6",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "7",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 15,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_7",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "5e241f23fecdeafe"
            ]
        ]
    },
    {
        "id": "5e241f23fecdeafe",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_7\ncontext.data.objectInfo_7= msg.payload;\n\nflow.set('objectInfo_7', context.data.objectInfo_7);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "e6959ebab5c1204a",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "8",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 18,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_8",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "fe59defcfd5ebffd"
            ]
        ]
    },
    {
        "id": "fe59defcfd5ebffd",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_8\ncontext.data.objectInfo_8= msg.payload;\n\nflow.set('objectInfo_8', context.data.objectInfo_8);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "c762a783444d21e2",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "9",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 19,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_9",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "ba10f07f4318c907"
            ]
        ]
    },
    {
        "id": "ba10f07f4318c907",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_9\ncontext.data.objectInfo_9= msg.payload;\n\nflow.set('objectInfo_9', context.data.objectInfo_9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "c2a3bdc43a0f4fc1",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "10",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "c28f112b3e1541d8",
        "order": 22,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Set Option",
                "value": "",
                "type": "str"
            },
            {
                "label": "\"0\" : \"O-G:C-L:00100:1-LoRa 게이트웨이\"",
                "value": "O-G:C-L:00100:1-LoRa 게이트웨이",
                "type": "str"
            },
            {
                "label": "\"1\" : \"O-Y:B-L:00101:1-온습도1\"",
                "value": "O-Y:B-L:00101:1-온습도1",
                "type": "str"
            },
            {
                "label": "\"2\" : \"O-Y:B-L:00102:1-온습도2\"",
                "value": "O-Y:B-L:00102:1-온습도2",
                "type": "str"
            },
            {
                "label": "\"3\" : \"O-Y:C-G:23-온습도3\"",
                "value": "O-Y:C-G:23-온습도3",
                "type": "str"
            },
            {
                "label": "\"4\" : \"O-M:C:50-G:17:27-천창개폐기1\"",
                "value": "O-M:C:50-G:17:27-천창개폐기1",
                "type": "str"
            },
            {
                "label": "\"5\" : \"O-M:C:70-L:00105:1-천창개폐기2\"",
                "value": "O-M:C:70-L:00105:1-천창개폐기2",
                "type": "str"
            },
            {
                "label": "\"6\" : \"O-F:C:2-L:00106:1-중앙FAN\"",
                "value": "O-F:C:2-L:00106:1-중앙FAN",
                "type": "str"
            },
            {
                "label": "\"7\" : \"O-V:C-G:9-환풍기2\"",
                "value": "O-V:C-G:9-환풍기2",
                "type": "str"
            },
            {
                "label": "\"8\" : \"O-V:C-G:6-관수1\"",
                "value": "O-V:C-G:6-관수1",
                "type": "str"
            },
            {
                "label": "\"9\" : \"O-V:C-G:13-관수2\"",
                "value": "O-V:C-G:13-관수2",
                "type": "str"
            },
            {
                "label": "\"10\" : \"O-V:C-G:19-관수3\"",
                "value": "O-V:C-G:19-관수3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "objectInfo_10",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 480,
        "wires": [
            [
                "3368011864b935e6"
            ]
        ]
    },
    {
        "id": "3368011864b935e6",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "7a2f30566efa08de",
        "name": "",
        "func": "context.data = context.data || {}\nvar data = context.data.objectInfo_10\ncontext.data.objectInfo_10= msg.payload;\n\nflow.set('objectInfo_10', context.data.objectInfo_10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 480,
        "wires": [
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "227f0eee6f504833",
        "type": "switch",
        "z": "169a85797e154a79",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LoRa Farm ID Length Error",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 640,
        "wires": [
            [
                "10e9eb16a9f11d81"
            ],
            [
                "259ada8418e18a95"
            ]
        ]
    },
    {
        "id": "10e9eb16a9f11d81",
        "type": "ui_toast",
        "z": "169a85797e154a79",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "확인",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "LoRa Farm ID는 5자를 넘지 않아야 합니다.",
        "name": "",
        "x": 1150,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "28893410e9b74ff7",
        "type": "switch",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "noError",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LoRa Farm ID Length Error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "API Data missing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 2120,
        "wires": [
            [
                "2fec2630dcb3426b",
                "3926ebe96ba7f239"
            ],
            [
                "1f3690e23e1ce9b8"
            ],
            [
                "0c0da8b038185838"
            ]
        ]
    },
    {
        "id": "c4b6667f292efc68",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "func": "var errorCase = global.get(\"errorCase\")\nmsg.payload = errorCase;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2120,
        "wires": [
            [
                "28893410e9b74ff7"
            ]
        ]
    },
    {
        "id": "1f3690e23e1ce9b8",
        "type": "ui_toast",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "확인",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "LoRa Farm ID는 5자를 넘지 않아야 합니다.",
        "name": "ID length Alert",
        "x": 840,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "0c0da8b038185838",
        "type": "ui_toast",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "확인",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "API 칸은 모두 채워주셔야 합니다.",
        "name": "Empty Text Alert",
        "x": 840,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "b9c0138e837a2363",
        "type": "function",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "name": "",
        "func": "global.set(\"configform5\", null);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "3926ebe96ba7f239",
        "type": "ui_toast",
        "z": "169a85797e154a79",
        "g": "c530cad7ca73d6d3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Config 파일이 생성되었습니다.",
        "name": "Make Config Message",
        "x": 840,
        "y": 2040,
        "wires": []
    },
    {
        "id": "94e252df18cad491",
        "type": "ui_dropdown",
        "z": "169a85797e154a79",
        "g": "f9d4958dda3238f1",
        "name": "Network Type",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "f1f88eddc714f067",
        "order": 22,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Network Type",
                "value": "",
                "type": "str"
            },
            {
                "label": "무선",
                "value": "W",
                "type": "str"
            },
            {
                "label": "유선",
                "value": "E",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "networkType",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 960,
        "wires": [
            [
                "03ddcaa07d44f0b6"
            ]
        ]
    },
    {
        "id": "80f068f9efcad2df",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "5e01bea49e0c40d2",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "fdc4ebb91bd41a2c",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "5e01bea49e0c40d2",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "3329dc178935ac60",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "7a874ea093ea06a1",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "c910f2561c7c9cca",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "aa7700f3c8e2d7b3",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "d167d4c39ebe8238",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "53f242857af9459a",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "5f29368cee882b00",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "d7d8f2713d33ebd9",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "c043a07d7c296c78",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "739b764707759a76",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "d53ca78951e38dbf",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "1b33fa2e872554fe",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "904b10a1fb79e683",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 25,
        "width": 5,
        "height": 1
    },
    {
        "id": "bbeca42a1fe3cbeb",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "1558b099b68d1a18",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 29,
        "width": 5,
        "height": 1
    },
    {
        "id": "013f24ba1db60fd3",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "f1f88eddc714f067",
        "order": 32,
        "width": 4,
        "height": 1
    },
    {
        "id": "272ed7b54ab76212",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "39794d68b5cf0d94",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "9d9fe7818a898274",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "eb7eb55547d601c6",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "88f605ee7eba766c",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "f23cfd7bb41e55ef",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "e86294908b069aca",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "9fec571814191df2",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "b6dd589b676b6e97",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "ba17eac15e6e74b6",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "164a2157e8e8cd8f",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "eb9a3cbc1b46ecf6",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "c28f112b3e1541d8",
        "order": 23,
        "width": 12,
        "height": 1
    },
    {
        "id": "ec41f9bdc3d8c5ba",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "d566b8044667e87a",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "79b8b69badf829ca",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "8e6a413196da525e",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "fe095c9f1bd31398",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "a872b49224078ce3",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "12638e170fa89486",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "0ef68b5cc370b0d4",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "904e98deb32ebd8a",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "d3936bb0dd78efe1",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "10730321e860f33c",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "92b12d78813f0b30",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "e4b9ea62c4ae5b2c",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "8704038f26c07e8b",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "6f6c14a1a71ef052",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "4b20bdd611517a47",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "c16f685ba947e671",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "0eebfc46f316e2b3",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "fa57ae2a95683aa6",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "52206ed6ef51388a",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 25,
        "width": 5,
        "height": 1
    },
    {
        "id": "f38b9dda54044a1d",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "a95fefb164a341d2",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "ae091d41c0159f1b",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "93299d5c1638bff3",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "e2b123ad6c0da946",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "feed1af22465373f",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "685ffd0ee0a2a000",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "bbabc1ab72c37ce8",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "18a916332fbc1635",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "ab7a04e31cc12764",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "385aa8a415017745",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "3a0b22696148f229",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "bfd1cd5b4d182718",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "0ca31bbe9106ba51",
        "type": "ui_spacer",
        "z": "169a85797e154a79",
        "name": "spacer",
        "group": "7cbb9e6ef86b3063",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "f1f88eddc714f067",
        "type": "ui_group",
        "name": "Device Information",
        "tab": "cc1f484121d20b64",
        "order": 3,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e01bea49e0c40d2",
        "type": "ui_group",
        "name": "Setting Complete",
        "tab": "cc1f484121d20b64",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c28f112b3e1541d8",
        "type": "ui_group",
        "name": "Object Information",
        "tab": "cc1f484121d20b64",
        "order": 4,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12638e170fa89486",
        "type": "ui_group",
        "name": "Device Configuration",
        "tab": "cc1f484121d20b64",
        "order": 5,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cbb9e6ef86b3063",
        "type": "ui_group",
        "name": "API",
        "tab": "cc1f484121d20b64",
        "order": 7,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30e15ef0371c4cb4",
        "type": "ui_group",
        "name": "ㅤ",
        "tab": "cc1f484121d20b64",
        "order": 8,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a95fefb164a341d2",
        "type": "ui_group",
        "name": "Define",
        "tab": "cc1f484121d20b64",
        "order": 6,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "560c9670457e1c5f",
        "type": "ui_group",
        "name": "control bar",
        "tab": "cc1f484121d20b64",
        "order": 1,
        "disp": false,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b47ce81ca04ab4ec",
        "type": "ui_group",
        "name": "Form & Switch",
        "tab": "eff6f2c9c8e467a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cc1f484121d20b64",
        "type": "ui_tab",
        "name": "Create Config File",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eff6f2c9c8e467a0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    }
]
